<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.sparkzxl.activiti.infrastructure.mapper.ExtProcessStatusMapper">

    <select id="getProcessInstanceList"
            resultType="com.github.sparkzxl.activiti.infrastructure.entity.ProcessInstance">
        SELECT
        t.*,
        arm.Name_ processName
        FROM
        (
        SELECT
        DISTINCT(pts.process_instance_id) processInstanceId,
        ahp.BUSINESS_KEY_ businessKey,
        SUBSTRING_INDEX( ahp.PROC_DEF_ID_, ':', 1 ) processKey,
        IFNULL( aru.suspension_state_, 1 ) suspensionState,
        pts.`status`,
        ahp.START_TIME_ startTime,
        ahp.START_USER_ID_ originator,
        ahp.END_TIME_ finishTime,
        ahp.DURATION_ duration
        FROM
        ext_process_status pts
        LEFT JOIN act_hi_procinst ahp ON ahp.PROC_INST_ID_ = pts.process_instance_id
        LEFT JOIN act_ru_execution aru ON aru.PROC_INST_ID_ = pts.process_instance_id
        AND aru.suspension_state_ = 2
        ) t
        LEFT JOIN act_re_model arm ON t.processKey = arm.key_
        <if test="name != null">
            where arm.NAME_ like CONCAT(#{name},'%')
        </if>
        order by t.businessKey DESC
    </select>
</mapper>
