<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.activiti.infrastructure.mapper.ProcessDatasetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sparksys.activiti.infrastructure.entity.ProcessDataset">
        <id column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="process_status" property="processStatus" />
        <result column="dataset_id" property="datasetId" />
        <result column="proc_inst_id" property="procInstId" />
        <result column="dataset_name" property="datasetName" />
        <result column="priority" property="priority" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
